<div class="main-bg">
  <img src="assets/fondo_registrar_persona.png" class="bg-image" alt="Fondo decorativo" />

  <div class="form-wrapper">
    <h2 class="titulo-form">Agregar persona</h2>
    <button class="btn-volver" (click)="volver()">
      <img src="assets/volver.png" alt="Volver" />
    </button>
    <form (ngSubmit)="agregarPersona()">
      <label>Nombre</label>
      <input type="text" [(ngModel)]="nombre" name="nombre" required />

      <label>Correo electrónico</label>
      <input type="email" [(ngModel)]="email" name="email" required />

      <label>Fecha de nacimiento</label>
      <input type="text" [(ngModel)]="fechaNacimiento" name="fechaNacimiento" placeholder="DD/MM/AAAA" required />

      <label>Ciudad</label>
      <select [(ngModel)]="city" name="ciudad" required>
        <option value="" disabled selected>Seleccioná una ciudad</option>
        <option *ngFor="let c of ciudadesCordoba" [value]="c.id">{{ c.name }}</option>
      </select>

      <div *ngIf="error" class="error-msg">{{ error }}</div>
      <button type="submit" class="btn-form">Agregar persona</button>
    </form>
  </div>
</div>
