<div class="main-bg">
  <img src="assets/fondo-lista-personas2.png" class="bg-image" alt="Fondo decorativo" />

  <div class="form-wrapper">
    <div class="person-list-container">
      <button class="btn btn-light btn-volver position-absolute" (click)="volver()" type="button">
        <img src="assets/volver.png" alt="Volver" />
      </button>

      <h2>Lista de personas</h2>

      <div *ngFor="let p of personasPaginadas()" class="persona-row">
        <img src="assets/person.png" class="icon-user" alt="Persona" />
        <span class="nombre">{{ p.name }}</span>
        <div class="acciones">
          <button *ngIf="tienePermiso('editar_persona')" class="icon-btn btn btn-outline-primary btn-sm me-1" (click)="editarPersona(p.id)">
            <img src="assets/edit.png" class="icon-pencil" alt="Editar" />
          </button>
          <button *ngIf="tienePermiso('eliminar_persona')" class="icon-btn btn btn-outline-danger btn-sm me-1" (click)="confirmarEliminar(p)">
            <img src="assets/delete.png" class="icon-trash" alt="Eliminar" />
          </button>
          <button *ngIf="tienePermiso('ver_persona')" class="icon-btn btn btn-outline-secondary btn-sm" (click)="verPersona(p.id)">
            <img src="assets/ver.png" class="icon-eye" alt="Ver" />
          </button>
        </div>
      </div>

      <div *ngIf="showSessionExpiredModal" class="modal">
        <div class="modal-content">
          <h2>Sesión expirada</h2>
          <p>Tu sesión ha expirado. Por favor, inicia sesión nuevamente.</p>
          <button (click)="redirigirLogin()">Aceptar</button>
        </div>
      </div>
      
      <div class="text-center mt-4">
        <button *ngIf="tienePermiso('crear_persona')" class="btn btn-primary btn-agregar-persona" (click)="goToAddPerson()">Agregar persona</button>

        <div class="mt-3">
          <button class="btn btn-secondary siguiente me-2" [disabled]="paginaActual === 0" (click)="paginaAnterior()">Anterior</button>
          <button class="btn btn-secondary siguiente" [disabled]="paginaActual >= totalPaginas() - 1" (click)="paginaSiguiente()">Siguiente</button>
        </div>
      </div>

      <!-- Modal de confirmación -->
      <div *ngIf="showModal" class="modal">
        <div class="modal-content">
          <p>¿Estás segura que querés eliminar a <strong>{{ personaAEliminar?.name }}</strong>?</p>
          <div class="modal-actions">
            <button class="btn btn-danger btn-modal eliminar" (click)="eliminarPersona()">Sí, eliminar</button>
            <button class="btn btn-light btn-modal cancelar" (click)="cancelarEliminar()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>