<div class="main-bg">
  <img src="assets/fondo_registrar_persona.png" class="bg-image" alt="Fondo decorativo" />

  <div class="form-wrapper">
    <div class="header-from d-flex align-items-center mb-3 w-100">
      <button class="btn btn-light btn-volver me-2" (click)="volver()" type="button">
        <img src="assets/volver.png" alt="Volver" />
      </button>
      <h2 class="titulo-form mb-0">Registro Persona</h2>
    </div>

    <form (ngSubmit)="registrar()">
      <div class="mb-2">
        <label class="form-label">Nombre</label>
        <input type="text" [(ngModel)]="nombre" name="nombre" class="form-control" required />
      </div>

      <div class="mb-2">
        <label class="form-label">Correo electrónico</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control" required />
      </div>

      <div class="mb-2">
        <label class="form-label">Fecha de nacimiento</label>
        <input type="text" 
        [(ngModel)]="fechaNacimiento" 
        name="fechaNacimiento" 
        placeholder="DD/MM/AAAA" 
        class="form-control" 
        required 
        />
      </div>

      <div class="mb-2">
        <label class="form-label">Ciudad</label>
        <select [(ngModel)]="city" name="ciudad" class="form-select" required>
          <option value="" disabled selected>Seleccioná una ciudad</option>
          <option *ngFor="let c of ciudadesCordoba" [value]="c.id">{{ c.name }}</option>
        </select>
      </div>

      <!-- Visibilidad de la contraseña -->
      <div class="mb-2 position-relative">
        <label class="form-label">Contraseña</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="password"
          name="password"
          class="form-control input-sm"
          required
          autocomplete="new-password"
          />
          <button type="button"
          class="btn btn-link btn-sm btn-ojito"
          (click)="showPassword = !showPassword"
          tabindex="-1">
          <img [src]="showPassword ? 'assets/ver.png' : 'assets/noVer.png'" alt="Ver/Ocultar" />
          </button>
      </div>

      <!-- Confirmación de la contraseña -->
      <div class="mb-2 position-relative">
        <label class="form-label">Confirmar contraseña</label>
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          class="form-control input-sm"
          required
          autocomplete="new-password"
        />
        <button type="button"
          class="btn btn-link btn-sm btn-ojito"
          (click)="showConfirmPassword = !showConfirmPassword"
          tabindex="-1">
          <img [src]="showConfirmPassword ? 'assets/ver.png' : 'assets/noVer.png'" alt="Ver/Ocultar" />
        </button>
      </div>

      <div *ngIf="error" class="alert alert-danger text-center error-msg">{{ error }}</div>

      <button type="submit" class="btn btn-primary btn-form w-100">Crear cuenta</button>
    </form>

    <div class="texto-secundario">
      ¿Ya tenés cuenta?
      <a href="/login" class="link-registro">Iniciar sesión</a>
    </div>
  </div>
</div>
