.main-bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #e993bf;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: 'Montserrat', Arial, sans-serif;
}

.bg-image {
  position: absolute;
  width: 95%;
  height: auto;
  max-width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  transform: translateX(2%);
  pointer-events: none;
}

.form-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 650px;
  padding: 3.5rem 3rem;
}

.input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.input-wrapper input {
  flex: 1;
  padding-right: 45px;
  border-radius: 32px;
}

.btn-ojito {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-ojito img {
  width: 22px;
  height: 22px;
}


.login-form {
  background: #e94fa2;
  border-radius: 24px;
  padding: 56px 72px;
  box-shadow: 0 4px 24px #0002;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1.3rem;
}

.titulo-form {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 32px;
}

.input-form,
.input-form.form-control {
  font-size: 23px !important;
  padding: 5px 14px;
  border-radius: 19px !important; /* Más redondeado */
  border: none;
  background: #ffd7ec8c;
  color: #fff;
}

.input-form::placeholder {
  color: #ffffff;
  opacity: 0.9;
  font-size: 22px;
}


/* Botón principal sobrescribiendo Bootstrap */
.btn-form.btn-primary {
  background: #f60f86;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
  cursor: pointer;
  width: 60%;
  transition: background 0.2s;
  box-shadow: 0 3px 10px #0003;
}

.btn-form.btn-primary:hover:enabled {
  background: #f60f8653;
}

.alert-danger {
  color: #000000;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  font-weight: bold;
  border: none;
}

.texto-secundario {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
}

.link-registro {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 0.5rem;
}

@media (max-width: 900px) {
  .form-wrapper {
    max-width: 600px;
    padding: 2.5rem;
  }
  .login-form {
    padding: 48px 64px;
    font-size: 1.2rem;
  }
}
.input-form,
.input-form.form-control {
  font-size: 23px !important; /* Ajustá el tamaño según lo que te guste */
}