<div class="main-bg">
  <img src="assets/fondo-logo2.png" class="bg-image" alt="Fondo decorativo" />

  <div class="form-wrapper">
    <form class="login-form" (ngSubmit)="login()">
      <h2 class="titulo-form">Iniciar sesión</h2>

      <input
        type="email"
        placeholder="Correo electrónico"
        [(ngModel)]="email"
        name="email"
        class="form-control mb-3 input-form"
        required
      />
      
      <div class="input-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Contraseña"
          [(ngModel)]="password"
          name="password"
          class="form-control input-form"
          required
        />
        <button
          type="button"
          class="btn btn-link btn-ojito"
          (click)="showPassword = !showPassword"
          tabindex="-1">
          <img
            [src]="showPassword ? 'assets/ver.png' : 'assets/noVer.png'"
            alt="Mostrar/Ocultar"
          />
        </button>
      </div>

      <div *ngIf="error" class="alert alert-danger text-center py-2 error-msg">{{ error }}</div>

      <button type="submit" class="btn btn-primary btn-form w-100">Iniciar sesión</button>

      <div class="texto-secundario">
        ¿No tienes cuenta?
        <a class="link-registro" href="/register-person">Regístrate aquí</a>
      </div>
    </form>
  </div>
</div>